<div class="ez-search-result__item">
    <img
        src="{{ asset_path }}" data-source="{{ source_id }}" data-id="{{ asset_id }}"
    >
    <div class="image-overlay">
        <span class="overlay-text">{{ alternative_text }}</span>
    </div>
</div>
