{% extends '@ezdesign/ui/field_type/image_asset_view.html.twig' %}

{% block asset_preview %}
    {{ parent() }}
    <div>
        {{ 'ezimageasset.brandfolder.author_attribute'|trans({
            '%url%': asset.assetMetadata.author_link_html,
            '%author_name%': asset.assetMetadata.author,
            '%utm_source%': ibexa_brandfolder_utm_source(),
        })|desc('Photo by <a href="%url%">%author_name%</a> on <a href="https://brandfolder.com/?utm_source=%utm_source%&utm_medium=referral">Brandfolder</a> ')|raw }}
    </div>
{% endblock %}
