.ez-search-result__item {
    position: relative;
    display: inline-block;
}

.ez-search-result__item img {
    border: 1px dashed grey;
}

.ez-search-result__item .image-overlay {
    margin-top: 10px;
    width: 100%;
    z-index: 1;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Change the overlay color and opacity here */
    color: white;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.ez-search-result__item:hover .image-overlay {
    opacity: 1;
}

.ez-search-result__item .image-overlay .overlay-text {
    font-size: 60%;
}

.ez-dam-wrapper .ez-search-results .ez-search-results__content .ez-search-result__item {
    background-color: transparent;
}