{%  extends "@EzPublishCore/content_fields.html.twig"  %}

{% block ezimageasset_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty(content, field) and parameters.available %}
            {% if field.value.destinationContentId starts with 'attachment_' or field.value.destinationContentId starts with 'asset_' %}
                <figure {{ block( 'field_attributes' ) }}>
                    {% set transformation = ibexa_platform_dam_image_transformation(field.value.source, '770px') %}
                    {% set asset = ibexa_platform_asset(field.value.destinationContentId, field.value.source, transformation) %}
                    {% set image_uri = asset.assetUri.path %}

                    {% set attrs = {
                        class: parameters.class|default(''),
                        height: parameters.height is defined ? parameters.height : (transformation.getTransformationProperties.height is defined ? transformation.getTransformationProperties.height : ''),
                        width: parameters.width is defined ? parameters.width : (transformation.getTransformationProperties.height is defined ? transformation.getTransformationProperties.width : ''),
                    } %}
                    {% if parameters.ezlink|default({}) is not empty %}
                        <a
                            href="{{ parameters.ezlink.href }}"
                            {% if parameters.ezlink.title is defined %} title="{{ parameters.ezlink.title|e('html_attr') }}"{% endif %}
                            {% if parameters.ezlink.target is defined %} target="{{ parameters.ezlink.target|e('html_attr') }}"{% endif %}
                        >
                    {% endif %}
                            <img src="{{ image_uri }}" alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}" {% for attrname, attrvalue in attrs %}{% if attrvalue %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}/>
                    {% if parameters.ezlink|default({}) is not empty %}
                        </a>
                    {% endif %}
                </figure>
            {% else %}
                <div {{ block('field_attributes') }}>
                    {{ render(controller('ez_content:embedAction', {
                        contentId: field.value.destinationContentId,
                        viewType: 'asset_image',
                        no_layout: true,
                        params: {
                            parameters: parameters|default({'alias': 'original'})|merge({'alternativeText': field.value.alternativeText })
                        }
                    }))}}
                </div>
            {% endif %}
        {% endif %}
    {% endapply %}
{% endblock %}